<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land Minecraft Challenges authentication</title>
    <link href="./static/main.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="overlay"></div>

    <div class="modal">
        <h1>Authenticated successfully.</h1>

        <div class="section account">
            <img id="pfp" src="https://cdn.discordapp.com/avatars/572123427788292096/b945a1a396a784448c282786b4e5787c.jpg"/>
            <p><span id="username"></span><span id="discrim"></span><br/><a id="notyou" href="/">not you?</a></p>
        </div>

        <div class="section">
            <span>Server IP</span>
            <input onclick="select()" value="mcc.invite.land">
        </div>

        <div class="section">
            <span>Copy & paste</span>        
            <input onclick="select()" id="codeContainer" readonly value="/authenticate">
        </div>
        
        <img src="./static/anim.gif"/>
    </div>

    <script src="./static/script.js"></script>
</body>

</html>